@{
    ViewBag.Title = "About";
}

<h3 style="color:#ffffff">Take me to the Smutel®</h3>
<p style="color:#ffffff">As the most recognized name in the industry, travelers all over the world have been saying “Take me to the Smutel” for almost a century. And because of our innovative approach to products, amenities and service, Smutel continues to be synonymous with hotel across the globe. Smutel Hotels & Resorts remains the stylish, forward thinking global leader of hospitality – and we help make traveling easier with our smart design, innovative restaurant concepts, authentic hospitality and commitment to the global community.</p>
