@{
    ViewBag.Title = "Contact Us";
}
<h2 style="color:#ffffff">@ViewBag.Title.</h2>

<address>
    923 Robie St<br />
    Halifax, NS B3H3BC<br />
    <abbr title="Phone">PH:</abbr>
    425-555-0100
</address>

<address>
    <strong>Support:</strong>   <a style="color:#ffffff" href="mailto:Support@smutel.ca">Support@smutel.ca</a><br />
    <strong>Marketing:</strong> <a style="color:#ffffff" href="mailto:Marketing@smutel.ca">Marketing@smutel.ca</a>
</address>