@{
    ViewBag.Title = "Smutel";
}

<div  >
    <h1 style="text-align: center;color:#ffffff;font-size:1000%"> Smutel</h1>
    <p style="text-align:center;font-size:300%">Welcome to Smutel Residency!</p>
</div>
