<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
  <session-factory>
    <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://cs.smu.ca:3306/mcda551001</property>
    <property name="hibernate.connection.username">mcda551001</property>
    <property name="hibernate.connection.password">project2admin</property>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    
    <mapping class="entities.Country" />
    <mapping class="entities.City"/>
    <mapping class="entities.Region"/>
    <mapping class="entities.CreditCard"/>
    
  </session-factory>
</hibernate-configuration>