@{
    ViewBag.Title = "Thank you for registering with us!";
}

<h2>@ViewBag.Title</h2>
<div>
    <p>
        Please confirm your account via email we sent you to reset password in future
    </p>    
</div>

